@font-face {
  font-family: 'chowfun'; /* Le nom que tu veux utiliser dans ton CSS */
  src: url('Fonts/CHOWFUN_.ttf') format('truetype'); /* Chemin vers le fichier */
  font-weight: normal;
  font-style: normal;
}

@font-face {

  font-family: 'H Hachimaki';
  src: url('Fonts/hHachimaki.ttf') format('truetype');

}

@font-face {
  font-family: 'Roboto-Light'; /* Le nom que tu veux utiliser dans ton CSS */
  src: url('Fonts/Roboto-Light.ttf') format('truetype'); /* Chemin vers le fichier */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold'; /* Le nom que tu veux utiliser dans ton CSS */
  src: url('Fonts/Roboto-Bold.ttf') format('truetype'); /* Chemin vers le fichier */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium'; /* Le nom que tu veux utiliser dans ton CSS */
  src: url('Fonts/Roboto-Medium.ttf') format('truetype'); /* Chemin vers le fichier */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular'; /* Le nom que tu veux utiliser dans ton CSS */
  src: url('Fonts/Roboto-Regular.ttf') format('truetype'); /* Chemin vers le fichier */
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}


h1 {
  font-family: 'H Hachimaki';
  text-align: center;
  font-size: 4em;
  color: #FFD700;
  background-color: #1A1A1A;
  margin: 0;
  padding: 0.5%;
  font-weight: normal;
}

h1 span {
  color: rgb(177, 245, 0);
  font-weight: bold;
}

.nav a {
  display: block;
  text-decoration: none;
  font-size: 1.5em;
  font-family: 'Roboto-Light';
  padding: 10px 50px 10px 50px;
  color: white;
  font-style: normal;
}

.nav a:hover {
  font-style: italic;
}

.nav {
  display: flex;
  justify-content: space-around;
  background-color: rgb(70, 69, 69);
  border-top: 8px yellow solid;
  margin: 0;
}

.nav li {
  list-style-type: none;
}

.bienvenue {
  text-align: center;
  font-family: 'chowfun';
  color: orange;
  font-size: 2.5em;
  margin: 0;
  margin: 2.5% 0 1.25% 0;
}

.bienvenue2 {
  text-align: center;
  font-size: 2em;
  font-family: 'Roboto-Light';
  margin-bottom: 4%;
}

#lien_site {
  display: inline-block;
  margin-left: 1%;
}

.contact {
  background-color: lightgrey;
  display: flex;
  justify-content: space-around;
}

.adresse_mail {
  font-family: 'Roboto-Regular';
  font-size: 1.6em;
  padding: 0.5%;
  margin-top: 2%;
}

.adresse_mail a {
  font-family: 'Roboto-Bold';
  text-decoration: none;
  color: red;
  font-style: italic;
}

.adresse_mail a:hover {
  text-decoration: underline;
}

.bouton_contact {
  margin: 1.5% 0 1.5% 0;
  padding: 0.7%;
  background-color: rgb(70, 69, 69);
  border: 4px yellow solid;
}

.bouton_contact a {
  text-decoration: none;
  font-family: 'Roboto-Bold';
  color: white;
  font-size: 1.75em;
}

.bouton_contact a:hover {
  text-decoration: underline;
}

.pied_page {
  background-color: rgb(70, 69, 69);
  border-top: 8px yellow solid;
}

.lien_reseaux {
  display: flex;
  justify-content: center;
}

.youtube {
  margin: 2%;
}

.mention a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: yellow;
  font-size: 0.65em;
  padding: 0.5%;
}

.mention a:hover {
  font-style: italic;
  font-weight: 600;
}

.credits {
  text-align: center;
  color: gray;
  font-size: 0.65em;
  padding: 0.5%;
}

.sous-titre {
  text-align: center;
  font-size: 3em;
  font-family: 'Roboto-Bold';
  margin: 0;
  margin: 1.25% 0 1.25% 0;
}

#Klaus {
  width: 37%;
  height: 40%;
  margin: 0;
  padding: 0;
  margin-left: 11%;
}

#Fondation {
  font-size: 1.4em;
  font-weight: 350;
  font-family: 'Roboto-Light';
  margin: 0;
  padding: 0;
  text-align: justify;
  margin-left: 2%;
  margin-right: 11%;
  line-height: 1.8em;
}

#part1 {
  display: flex;
  margin-bottom: 1.5%;
}

.Logo_AWTD2 {
  display: block;
  margin: 0 auto;
  width: 2.5%;
  height: 2.5%;
}

.text_page {
  font-size: 1.4em;
  font-weight: 350;
  font-family: 'Roboto-Light';
  margin: 0;
  padding: 0;
  text-align: justify;
  line-height: 1.7em;
  margin: 3% 11% 3% 11%;
}

.text_page2 {
  font-size: 1.4em;
  font-weight: 350;
  font-family: 'Roboto-Light';
  margin: 0;
  padding: 0;
  text-align: justify;
  line-height: 1.7em;
  margin: 0.5% 0% 5% 10%;
  padding-right: 12%;

}

.text_page3 {
  font-size: 2.3em;
  font-weight: 350;
  font-family: 'Roboto-Light';
  margin: 0;
  padding: 0;
  text-align: justify;
  line-height: 1.7em;
  margin: 5% 24% 5% 24%;
}

#page3 {
  display: flex;
}

.photos_kungfu {
  display: flex;
  flex-direction: column;
}

.photos_kungfu img {
  display: block;
  max-width: 17vw;
  height: auto;
  margin: 1% 0% 1% 0%;
  padding-right: 60%;
}

.sous_sous_titre {
  font-size: 1.8em;
  font-family: 'Roboto-Light';
  margin: 0;
  margin: 2% 0 2% 0;
}

#localisation {
  margin-bottom: 7%;
}

.lien_lessentiel {
  color: blue;
  font-style: italic;
}

.lien_lessentiel:hover {
  font-weight: 600;
}
